<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Your password has been updated successfully.</title>
    </head>
    <body
        style="
            background-color: white;
            font-family:
                Open Sans,
                sans-serif;
        "
    >
        <table
            style="
                width: 550px;
                margin: 0 auto;
                box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0, 15);
                border-radius: 2%;
            "
        >
            <thead></thead>
            <th></th>
            <tbody>
                <tr>
                    <td>
                        <h1>Polish Finder</h1>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center; background-color: lavender">
                        <h2>Your password has been changed</h2>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Hi <%= username %>,</p>
                        <p>
                            The password for your polishfinder.com account <%=
                            email %> has been successfully updated. You can view
                            your account to view your polishes and manage your
                            information.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div style="text-align: center">
                            <a
                                href="<%= homePage %>"
                                style="
                                    background-color: #bdfbce;
                                    padding: 5px 10px;
                                    text-decoration: none;
                                    text-transform: uppercase;
                                    border: 3px solid black;
                                    color: black;
                                    letter-spacing: 2px;
                                    box-shadow:
                                        1px 1px 0px 0px,
                                        2px 2px 0px 0px,
                                        3px 3px 0px 0px,
                                        4px 4px 0px 0px,
                                        5px 5px 0px 0px;
                                "
                            >
                                View account
                            </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4><b>Don't recognize this activity?</b></h4>
                        <p>
                            <a href="<%= homePage %><%= resetPasswordRoute %>"
                                >Reset your password</a
                            >
                            and change it to something you haven't used before.
                            You should also contact us immediately to ensure
                            your account security.
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
